.checkbox{
    /*
    border: 2px solid #006DD9;
    */
    display: flex;
    align-items: center;
}

.checkbox--label{
    margin-left: 6px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 17.5px;
}

.checkbox--checkmark{
    cursor: pointer;
    position:relative;
    width:20px; 
    height:20px; 
}
