.participants{
    box-sizing: border-box;
    position: relative;
    display:flex;
    flex-direction:column;
    /*
    justify-content:center;
    align-items:flex-start;
    */
    width:326.5px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}
.participants-list{
    box-sizing: border-box;
    display:flex;
    align-items: flex-start;
    padding-top: 12px;
    padding-left: 10.75px;
    padding-right: 10.75px;
    padding-bottom: 12px;
}
.participants-list--label{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 17.5px;
    /*border: 1px solid #C4C4C4;*/
    margin-top: 5px;
    margin-right: 4px;
    white-space:nowrap;
}
.participants-list--list{
    flex-grow: 1;
    /*
    border: 1px solid #C4C4C4;
    */
}
.participants-list--button{
    display:flex;
    height:28px;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #C4C4C4;*/
    margin-left: 4px;
    margin-top: 5px;
}
.participants-list--button_arrow {
    cursor: pointer;
}
.participants-search{
    box-sizing: border-box;
    position:absolute;
    top:45.5px;
    left:0px;
    right:0px;
    border: 1px solid #C4C4C4;
    border-radius: 0px 0 10px 10px;
    z-index:100;
    background-color: #FFFFFF;

    padding-top: 17px;
    padding-left: 12.75px;
    padding-right: 12.75px;
    padding-bottom: 17px;
}

.participants-search__input-wrapper{
    position: relative;
}

.participants-search__input{
    display: block;

    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 18.5px;

    height: 51px;
    width: 100%;

    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #C4C4C4;

    padding-left: 29px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.participants-search__input-img{
    position:absolute;
    top: 20px;
    left:8px;
    cursor: pointer;
}
.participants-search--result{
    overflow: auto;
    padding-top: 15px;
    max-height: 150px;
}
.participants-search--result-item{
    margin-bottom: 13px;
}